<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Error</title>
	
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<link rel="icon" href="/assets/favicon.ico" />
	<link rel="stylesheet" th:href="@{/css/fabric.min.css}" href="/css/fabric.min.css" />
	<link rel="stylesheet" th:href="@{/css/fabric.components.min.css}" href="/css/fabric.components.min.css" />
	<link rel="stylesheet" th:href="@{/css/error.css}" href="/css/error.css" />
</head>

<body class="ms-Fabric ms-font-m">
	<div class="container">
		<span class="ms-font-xxl ms-fontWeight-semibold" th:if="${error}" th:text="${error}">
			Internal server error
		</span>
		<span class="ms-fontColor-red" th:text="'Error '+${status}">
			Unknown code
		</span>
		<br />
		<br />

		<div th:if="${ex} or ${exception} or (${message} and ${message.length() != 0})">
			<p th:if="${ex}" th:text="${ex}">ex</p>
			<p th:if="${exception}" th:text="${exception}">exception</p>
			<p th:if="${message} and ${message.length() != 0}" th:text="${message}">message</p>
		</div>
		<p th:unless="${ex} or ${exception} or (${message} and ${message.length() != 0})">
			Error cause unknown
		</p>
		<br />

		<p class="ms-font-xs" th:if="${timestamp}" id='created'>
			<span th:text="${timestamp}">Timestamp</span>
		</p>
		<br />
		 
		<a href="/" class="ms-Button ms-Button--primary"> 
			<i class="ms-Icon ms-Icon--Home ms-fontColor-white" aria-hidden="true"></i>
		</a>
	</div>
</body>
</html>