spring:
  main:
    web-application-type: servlet
    
  profiles:
    active: prod

  datasource:
    url: jdbc:h2:mem:cim;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password: 
#  datasource:
#    url: jdbc:postgresql://localhost:5432/cim
#    username: postgres
#    password: postgres
#    dbcp2:
#      test-while-idle: true
#      validation-query: SELECT 1

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

  h2:
    console:
      enabled: true
      path: /h2-console

  thymeleaf:
    prefix: /templates/
    cache: false
    view-names:
      - login
      - error

  flyway:
    locations: classpath:com/cim/core/db/migration/{vendor}

server:
  servlet:
    context-path: /
  port: 8080
  ssl:
    enabled: false
    key-store: 
    key-store-type: 
    key-store-password: 
    key-alias: 
  compression:
    enabled: true
    mime-types:
    - text/html
    - text/xml
    - text/plain
    - text/css
    - text/javascript
    - application/javascript
    min-response-size: 1024
  error:
    whitelabel:
      enabled: false
