.header {
  height: 50px;
  min-width: 800px;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.company {
  display: flex;
  align-items: center;

  &:before {
    content: " ";
    display: inline-block;
    width: 100px;
    height: 50px;
    margin-right: 5px;
    background: url("../../styles/assets/company-logo.png") no-repeat;
  }
}

.user {
  display: flex;
  align-items: flex-end;

  &:before {
    content: "\f2c0";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 1.6em;
    display: inline-block;
    border-radius: 50%;
    border: solid 1px black;
    margin-right: 5px;
    padding: 8px;
  }
}
