.header {
  height: 50px;
  padding: 5px;
  min-width: 800px;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.company {
  display: flex;
  align-items: center;

  &:before {
    content: "";
    display: inline-block;
    width: 100px;
    height: 50px;
    border: solid 1px black;
    margin-right: 5px;
  }
}

.user {
  display: flex;
  align-items: center;

  &:before {
    content: "";
    display: inline-block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: solid 1px black;
    margin-right: 5px;
  }
}
