.fillContainer {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  display: inline-block;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.8);
  animation: fadein 1s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.loader {
  display: inline-block;
}