.loading {
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  .content {
    display: flex;
    flex-grow: 1;
  }
}

@media screen and (min-width: 900px) {
  .app {
    height: 100vh;
  }
}
