.tableHeaderColumn {
  text-transform: none;

  div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.tableHeaderRow {
  background-color: #f1f1f1;
}

.tableEvenRow,
.tableOddRow {
  &:focus {
    outline: none;
  }

  &:hover {
    background-color: #e9e9e9;
  }
}

.tableOddRow {
  background-color: #fafafa;
}

.tableSelectedRow {
  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: 2px;
    background-color: rgba($color: gray, $alpha: 0.35);
  }
}
