{
  "env": {
      "jasmine": true,
      "node": true
  },
  "plugins": ["jasmine"],
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "strict": "off",
    "func-names": "off",
    "comma-dangle": "off",
    "linebreak-style": "off",
    "import/no-extraneous-dependencies": "off",
    "react/prop-types": "off",
    "class-methods-use-this": "off",
    "no-continue": "off",
    "no-mixed-operators": "off",
    "import/prefer-default-export": "off",
    "react/jsx-wrap-multilines": "off",
    "object-curly-newline": "off",
    "function-paren-newline": "off"
  }
}
