{
  "env": {
      "jasmine": true,
      "node": true
  },
  "plugins": ["jasmine"],
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "func-names": [0],
    "comma-dangle": [0],
    "linebreak-style": [0],
    "import/no-extraneous-dependencies": [0],
    "react/prop-types": [0],
    "class-methods-use-this": [0],
    "no-continue": [0],
    "no-mixed-operators": [0],
    "import/prefer-default-export": [0],
    "react/jsx-wrap-multilines": [0]
  }
}
